html {
  height: 100%;
  width: 100%;
}
body{
  margin: 0%;
  background-color: black;
  
}



@font-face{
  font-family: alarm_clock;
  src:url(alarm_clock.ttf);
}

.container{
  font-family: alarm_clock;
  color: #0936ec;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
 -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;  
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 
                 0 0 50px #1a78d1, 0 0 60px ##1a78d1, 0 0 70px ##1a78d1;
  }
 to {
    text-shadow: 0 0 20px #eeeeee, 0 0 30px #1a78d1, 0 0 40px #1a78d1, 0 0 50px #1a78d1, 
                 0 0 60px #1a78d1, 0 0 70px #1a78d1, 0 0 80px #1a78d1;
  }
}